@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap);
* {
  margin: 0;
  padding: 0;
}

/* D E F A U L T */
.InputAnnotation_inputAnnotation__M9dHo {
  font-family: "Inter", system-ui;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  display: flex;
}

/* T Y P E */
.InputAnnotation_default__jeDDx,
.InputAnnotation_hover__5ZFhV,
.InputAnnotation_focus__JeOLI {
  color: #51525C;
}

.InputAnnotation_error__4ZhqF,
.InputAnnotation_error-focus__0Q0dN {
  color: #D92D20;
}

.InputAnnotation_disabled__JDxwu {
  color: #D1D1D6;
}
* {
  margin: 0;
  padding: 0;
}

/* D E F A U L T */
.InputText_inputText__R6ucv {
  font-family: "Inter", system-ui;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  align-content: flex-start;
  color: #1A1A1E;
  background: inherit;
}

.InputText_inputText__R6ucv, .InputText_inputText__R6ucv:focus-visible, .InputText_inputText__R6ucv:focus {
  border: none;
  outline: none;
}

/* C A N T   C H A N C H E   T E X T */
.InputText_offUserText__3EEt7 {
  color: #70707B;
}

/* S I Z E */
.InputText_xs__Ohet3, .InputText_sm__fJXUg {
  font-size: 12px;
}.InputText_lg__972m9, .InputText_xl__kTzfP {
  font-size: 14px;
}

/* P L A C E */
.InputText_top__M0jJG {
  width: 216px;
} .InputText_side__\+E19i {
  width: 40px;
}

/* P O S I T I O N */
.InputText_left__g1UTQ {
  text-align: left;
} .InputText_right__NLY5x {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
}

/* D E F A U L T */
.InputGroup_inputGroup__UHfJ5 {
  width: fit-content;
  border-radius: 4px;
  border: none;
  gap: 8px;
  align-items: center;
  display: flex;
}

/* S I Z E */
.InputGroup_xs__5G-YU {
  padding: 2px 12px;
}.InputGroup_sm__YMgYb {
  padding: 8px 12px;
}.InputGroup_lg__sxGVs {
  padding: 8px 12px 8px 16px;
}.InputGroup_xl__y7rl8 {
  padding: 12px 12px 12px 16px;
}

/* P L A C E */
.InputGroup_top__4pkFx {
  display: flex;
} .InputGroup_side__HFAXm {
  display: inline-flex;
}

/* T Y P E */
.InputGroup_default__Dk2yy, .InputGroup_hover__TvdGi {
  border: solid 1px #D1D1D6;
} .InputGroup_focus__ZDGgo {
  border: solid 1px #84CAFF;
  box-shadow: 0 0 0 4px #84CAFF42;
} .InputGroup_error__7jdNN {
  border: solid 1px #FDA29B;
} .InputGroup_error-focus__nSWez {
  border: solid 1px #FDA29B;
  box-shadow: 0 0 0 4px #F4CAC942;
} .InputGroup_disabled__dVonS {
  color: #70707B;
  border: solid 1px #D1D1D6;
}

* {
  margin: 0;
  padding: 0;
}

/* D E F A U L T */
.InputLabel_inputLabel__OgWD6 {
  align-items: center;
  display: flex;
}

.InputLabel_label__tiDx- {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.InputLabel_info__AeTRi {
  margin-left: 4px;
}

.InputLabel_tooltip__ZOpI2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.InputLabel_tooltipText__EBipm {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.InputLabel_tooltipText__EBipm::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.InputLabel_tooltip__ZOpI2:hover .InputLabel_tooltipText__EBipm {
  visibility: visible;
  opacity: 1;
}

/* T Y P E */
.InputLabel_default__cZe2s {
  /* color: #1A1A1E; */
}

.InputLabel_disabled__Ixuwt {
  color: #70707B;
}
* {
  margin: 0;
  padding: 0;
}

/* D E F A U L T */
.MainPage_mainPage__rxRgE {
  height: fit-content;
  padding: 37px 66px;
}

.MainPage_title__KFmS7 {
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.MainPage_list__gG3pf {
  list-style-type: none;
  grid-gap: 66px;
  gap: 66px;
  display: grid;
}

.MainPage_list__gG3pf li {
  grid-gap: 4px;
  gap: 4px;
  display: grid;
}

/* T H E M E */
.MainPage_light__Pwux\+ {
  background: #fff;
}

.MainPage_dark__BMnzl {
  background: #1A1A1E;
}

/*# sourceMappingURL=stories-MainPage-stories.5c160ffa.chunk.css.map*/